<div class="context">

    <div class="col-sm-12">
        <div class="col">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
                        <a class="navbar-brand" href="#" style="letter-spacing: 3px;">
                            <img src="../../../assets/image/images.png" alt="..." class="rounded"
                                style="height: 30px; width: 30px;">
                            <span class="border-top-0 text-info"> CHAT PORTAL </span> |
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown"
                                            data-toggle="dropdown" aria-expanded="false">
                                            Welcome, <strong class="text-primary">{{userName}} </strong> <i
                                                class="fas fa-cog"></i> <b class="caret"></b>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" style="padding: 20px;">
                                            <a class="dropdown-item" href="#" style="cursor: default;
                                    pointer-events: none;        
                                    text-decoration: none;
                                    color: grey;">Action</a>
                                            <a class="dropdown-item" href="#" style="cursor: default;
                                    pointer-events: none;        
                                    text-decoration: none;
                                    color: grey;">Another action</a>
                                            <div class="dropdown-divider"></div><br>
                                            <button class="dropdown-item btn btn-success button"
                                                (click)="logout()">Logout | <i class="fas fa-sign-out-alt"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <iframe allow="microphone;" height="800px;" width="600px;" style="background-color: rgba(255, 255, 255, .8);
                    border-radius: .25em;
                    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
                    box-sizing: border-box;
                    padding: 2vmin;
                    text-align: center;"
                        src="https://console.dialogflow.com/api-client/demo/embedded/a35d628f-70b7-4b1a-ac6f-6b466d301182">
                    </iframe>
                </div>
                <div class="col-sm-3">
                    <div class="col">
                        <div class="col-sm-12" style="text-align: center;">
                            <div class="col">
                                <div class="col-sm-4">
                                    <div class="card" style="width: 25rem; height: 15rem;">
                                        <div class="card-body" style="padding: 10px;">
                                            <h3 class="text-Success" style="padding: 10px;"> Saving Account Details </h3>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 25rem; height: 15rem;">
                                        <div class="card-body" style="padding: 10px;">
                                            <h3 class="text-info" style="padding: 10px;"> Current Account Details </h3>
                                            <hr>
                                        </div>
                                    </div>
                                </div><br>
                                <hr>
                                <div class="col-sm-2">
                                    <div class="card" style="width: 25rem; height: 15rem;">
                                        <div class="card-body" style="padding: 10px;">
                                            <h3 class="text-danger" style="padding: 10px;"> Loan Account Details </h3>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="border-left: solid 1px white; margin-left: 3vh;">
                    <div class="" style="margin-left: 2vh;">
                        <h3 class="text-info" style="text-align: center;">Notifications</h3><br>
                        <hr>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                            style="padding: 10px;">
                            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>