<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
  <div class="container">
    <div class="card" style="width: 50rem; margin-top: 5%;border-top-left-radius: 100%; margin-left: auto; margin-right: auto;">
      <img src="../../../assets/image/images.png" class="card-img-top" alt="..." style="height: 10rem; width: 10rem;margin-bottom: 15%;">
      <div class="card-body" style="display: block; margin-left: auto; margin-right: auto;">
        <h5 class="card-title" style="font-family: 'Trebuchet MS', sans-serif;font-size: 2rem; font-stretch: semi-condensed;" >FORGET PASSWORD</h5>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onFOrgetPassword()" style="width: 25rem;">
        <div class="form-group">
          <label for="exampleInputEmail1" style="margin-left: -50%;">Enter Your Email Address</label>
          <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Another Email"
            [class.is-invalid]="submitted && forgetPasswordForm.get('email').invalid && forgetPasswordForm.get('email').touched"
            formControlName="email" (mouseover)="speakIt('Enter Your Register Email Id')">
        </div>
        <div
          *ngIf="(forgetPasswordForm.get('email').invalid && forgetPasswordForm.get('email').touched) || forgetPasswordForm.get('email').dirty">
          <small class="text-danger" *ngIf="forgetPasswordForm.get('email').errors?.required">Email address is
            required</small>
          <small class="text-danger" *ngIf="forgetPasswordForm.get('email').errors?.pattern">Email address is
            invalid</small>
        </div>
        <hr>
        <div class="form-group row">&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-success button"><i class="fas fa-eraser"></i> &nbsp; |
            &nbsp;Forget Password <img src="../../../assets/image/login.png" height="24px" width="24px" *ngIf="loadingCircle" (mouseover)="speakIt('Forget Password Option')"></button>&nbsp;&nbsp;&nbsp;
          <button class="btn btn-warning button" (click)="onSignIn()" (mouseover)="speakIt('Sign In Option')"><i class="fas fa-sign-in-alt"></i> &nbsp; | &nbsp;Sign In <img src="../../../assets/image/bean.png" height="24px" width="24px" *ngIf="signInLoading"></button>&nbsp;&nbsp;
        </div>
        </form>
      </div>
    </div>
    </div>
</div>
